<img id="imgBg" class="img" src="view/images/page1_Background.png" height="100%" width="100%">
<img id="img1" class="img page3" src="view/images/page3_1.png">
<img id="img2" class="img page3" src="view/images/page3_2.png">
<img id="img3" class="img page3" src="view/images/page3_3.png">
<img id="img4" class="img page3" src="view/images/page3_4.png">
<img id="img5" class="img page3" src="view/images/page3_5.png">
<img id="img6" class="img page3" src="view/images/page3_6.png">
<img id="img7" class="img page3 " src="view/images/page3_7.png">
<img id="img8" class="img page3 " src="view/images/page3_8.png">
