<div>
    <img src="view/images/page1_Background.png" height="100%" width="100%" style="position: absolute">
    <img id="img1" align="center" src="view/images/page1_1.png" style="position: absolute; width:80px; height:37px; left:129px; top:164px ;">
    <img id="img2" src="view/images/page1_2.png" style="position: absolute; left: 43px; top:30% ;width:245px ; height: 156px ">
    <img id="img3" src="view/images/page1_3.png" style="position: absolute; top:10%; left: 33px; width: 80px; height:18px">
</div>
