<div class="main" style="background-image: url(view/images/page1_Background.png); height: 640px">
    <div align="center">
        <img class="u-arrow-bottom" src="view/images/page1_1.png">
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div align="center">
        <img class="animated rollIn" style="vertical-align: middle" src="view/images/page1_2.png">
    </div>
    <div>
        <img class="animated bounceInRight" src="view/images/page1_3.png">
    </div>
</div>