<div>
    <img src="view/images/page1_Background.png" style="position: absolute">
    <div id="img1">
        <img class="animated flip" align="center" src="view/images/page1_1.png" style="position: absolute; width:80px; height:37px; left:129px; top:164px ; transform: rotateZ(0deg)">
    </div>
    <div id="img2">
        <img class="animated rollIn" src="view/images/page1_2.png" style="position: absolute; left: 43px; top:30% ;width:245px ; height: 156px ">
    </div>
    <div>
        <img class="animated bounceInRight" src="view/images/page1_3.png" style="position: absolute; top:10%; left: 33px; width: 80px; height:18px">
    </div>
</div>

